
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <base href="<%=basePath%>">
    
	<title>无标题文档</title>
    
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">
      <link href="../../css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="../../js/select-ui.min.js"></script>
<script type="text/javascript" src="../../editor/kindeditor.js"></script>
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>系统管理</li>
    <li>角色管理</li>
    <li>添加角色</li>
    </ul>
    </div>
    
    <div class="formbody">
     <form action="index.html" method="post" >
    <div class="formtitle"><span>增加菜单</span></div>
   
    <ul class="forminfo">
    
    
    <li><label>菜单名称</label><input name="code" type="text" class="dfinput" value="系统管理" /><i>名称不能超过20个字符</i></li>
    <li><label>父级菜单</label><div >
    <select  class="dfinput" ><option>无</option><option>我的工作平台</option><option selected>系统管理</option></select>
     </div></li>
    <li><label>菜单路径</label><cite><input name="state" type="text" class="dfinput" value="sysServlet.do"/></li>
<li><label>菜单状态</label><cite><input name="state" type="radio" value="0" checked="checked" />启用&nbsp;&nbsp;&nbsp;&nbsp;<input name="state" type="radio" value="1" />禁用</cite></li>    
<li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>
   
    </ul>
    
    
    </div>

 </form>

</body>

</html>
